/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 20px;
  padding-bottom: 10px;
}

img {
 margin-right: 10px;
 margin-bottom: 10px;
}

.topcont {
 margin-top: 40px;
}

.toptitle {
 font-size: 1.8em;
 font-weight: bold;
}

.progress {
	width: 100%;
	text-align: center;
}

.message {
	margin-top: 10px;
	border: #cdcdcd medium solid;
	padding: 5px;
}
